
.sub-menu{
  background: $white;
}
.separador-menu-sm{
   margin-top: $space-base;
}
.btn-menu{
  max-width: 40px;
}
.container-img-recently{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: $space-2;
  padding-right: $space-2;
  width: 100%;
}
.btn-aligned{
  max-width:100%;
  margin-top: $space-2;
  justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.text-aligned{
   justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}