// hacking "gridism.css" a little bit.
.checkout{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .shopping-cart {
    width: 70%;
    padding-right: $space-2;
  }
  .order-summary{
    width: 30%;
    padding-right: $space-2;
    padding-left: $space-2;
    button{
      max-width: 100%;
    }
  }
  .custome-details{
    width: 70%;
    margin-left: 0;
    .margin-left{
      margin-left: -$space-2;
    }
  }
  .padding-right{
    padding-right: $space-2;
  }
  .padding-left{
    padding-left: $space-2;
  }
  .padding-top{
    padding-top: $space-2;
  }
  .padding-bottom{
    padding-bottom: $space-2;
  }
  .backgroung-gray{
    padding-top: $space-2;
    padding-bottom: $space-2;
    width: 100%;
    background-color: #D8D8D8;
    h2{
      color:white;
      margin-bottom: 0;
      padding-left: $space-2;
    }
  }
  .backgroung-black{
    padding-top: $space-base;
    padding-bottom: $space-base;
    width: 100%;
    background-color: black;
    strong{
      color:white;
    }
  }
  .td-border{
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }
} 