// hacking "gridism.css" a little bit.
.checkout{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .shopping-cart {
    width: 70%;
    padding-right: $space-2;
  }
  .order-summary{
    width: 30%;
    padding-right: $space-2;
    padding-left: $space-2;
    button{
      max-width: 100%;
    }
  }
  .oculto{
    display: none;
  }
  .custome-details{
    width: 100%;
    margin-left: 0;
    padding-left: $space-8;
    padding-right: $space-8;
    .margin-left{
      margin-left: -$space-2;
    }
    .title{
      width: 105%;
      background-color: #6c6c6d !important;
      color: $white;
      padding-left: $space-3;
    }
  .form-group{
      display: inline-flex;
      width: 100%;
      label{
        width: 25%;
        padding-left: $space-3;
      }
      input{
        width: 70%;
        border-radius: 0px;
      }
      select{
        width: 70%;
        border-radius: 0;
      }
      textarea{
        width: 70%;
        border-radius: 0;
      }
      .input-group{
        padding-left: $space-4;
        width: 103%;
        span{
          border-radius: 0;
        }
      }
      }
  }    
  .padding-right{
    padding-right: $space-2;
  }
  .padding-left{
    padding-left: $space-2;
  }
  .padding-top{
    padding-top: $space-2;
  }
  .padding-bottom{
    padding-bottom: $space-2;
  }
  .color-black{
    color: black;
  }
  .backgroung-gray{
    padding-top: $space-2;
    padding-bottom: $space-2;
    width: 100%;
    background-color: #D8D8D8;
    h2{
      color:white;
      margin-bottom: 0;
      padding-left: $space-2;
    }
  }
  .backgroung-black{
    padding-top: $space-base;
    padding-bottom: $space-base;
    width: 100%;
    background-color: black;
    strong{
      color:white;
    }
  }
  .td-border{
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }
} 
.gris-footers{
  background-color: #d8d8d8;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: $space-2;
  padding-left: $space-4;
  padding-right: $space-4;
  .content-footer{
    width: 33.33%;
    .copyrights{
      width: 100%;
      text-align: center;
      color: #000000;
    }
    .red-footer{
      width: 100%;
      list-style: none;
      padding-left: $space-base;
      li{
        position: relative;
        display: block;
        float: left;
        padding-right: $space-2;
        }
      li:last-child{
        padding-right: 0;
      }
      img{
        width: 30px;
      }
    }
  }
}
@media screen and (max-width: 991px){
  .checkout{
    .shopping-cart {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .order-summary{
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      button{
        max-width: 100%;
      }
    }
    .custome-details{
      width: 100%;
      padding-right: 0;
      padding-left: $space-2;
      .title{
        width: 104%
      }
      .form-group{
      display: block;
      width: 100%;
      label{
        width: 100%;
        padding-left: 0;
      }
      input{
        width: 100%;
      }
      select{
        width: 100%;
      }
      textarea{
        width: 100%;
        border-radius: 0;
      }
      .input-group{
        padding-left: 0;
        width: 100%;
      }
      }
    }
  } 
}
@media screen and (max-width: 768px){
  .checkout{
    .custome-details{
      .title{
        width: 105%
      }
    }
  } 
  .td_name{
    white-space: unset !important;
  }
}

@media screen and (max-width: 600px){
  .gris-footers{
    background-color: #d8d8d8;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    .content-footer{
      width: 40%;
      .red-footer{
        padding-top: $space-3;
      }
      .copyrights{
        width: 100%;
        text-align: right;
      }
    }
    .content-footer:nth-child(2){
      width: 60%;
      margin-bottom: $space-base;
      padding-right: $space-base;
    }
    .content-footer:last-child{
      width: 100%;
      margin-bottom: $space-base;
      padding-right: $space-base;
    }
  }
  .td_name{
    text-align: right;
  }
  .td_price{
    padding: $space-2 !important;
  }
  .td_pieces{
    margin-left: 30%;
  }
  .td_subtotal{
    width: 50%;
  }
  .none{
    display: none;
  }
}