ul.breadcrumb{
    list-style-type: none;
    
    li{
        display: inline-block;
        text-decoration: none;
    }
    li:not(:last-child){
            a:hover{
                
            }
            ::after{
            padding: 0 12px;
            content: '/';
        }
    }


    
}