.container-footer-2{
    display: none;
}
.footerContacto{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
@media screen and (max-width: 900px){
    .footerContacto{
        height: 90%;
    }
}
@media screen and (max-width: 600px){
    .footerContacto{
        height: auto;
    }
    .container{
        height: auto !important;
    }
    .resp-none{
        display: none;
    }
    .container-footer-2{
        width: 100%;
        display: block;
    }
    
}
footer{
    background-color: #58595b;
    background-size: 100%;
    background-position: top;
    padding: 50px 15px 50px;
}
.p-footer{
  font-size: 18px;
}
.redes-footer{
  width: 100%;
  padding: 10px 0px 10px;
  list-style: none;
}
.redes-footer li{
    position: relative;
    display: block;
    float: left;
    padding-right: 30px;
}
.redes-footer img{
  width: 30px;
}
@media screen and (max-width: 600px){
    .redes-footer img{
        width: 20px !important;
      }
      .gris-footer{
          height: 142px;
      }
    
}
.copyright{
  font-family: 'Gothaml';
  font-weight: bold;
  text-align: center;
  color: black;
}
.aviso{
    font-family: 'Gothaml';
    font-weight: bold;
    text-align: right;
    color: #808285;
    margin: 0;
}
.aviso:hover{
    font-weight: normal;
    color: #808285;
}
.logo-footer{
  display: block;
  margin: auto;
}
.logo-movil-footer{
    max-width: 168px;
    position: relative;
    margin-bottom: 40px;
}
footer{
  color: white;
}
.i-footer{
    font-size: 16px;
}
.gris-footer{
  background-color: #d8d8d8;
  padding: 20px 0px;
}
.titulo-footer{
    font-size: 32px;
    color: #c2c3c5;
    margin-top: 40px;
}
.derecha-footer{
    text-align: right;
}
.derecha-footer p{
    margin: 0;
    font-size: 18px;
}
.derecha-footer a:hover, .derecha-footer a{
  color: white;
}
.area-ventas{
  color: #c2c3c5 !important;
}