.slider-content{
  background-color: #e6e6e6;
  width:100%;
  display: inline-flex;
  .clientes_slider{
    width:40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
  .content-cita{
    width: 50%;
    display: inline-flex;
    flex-wrap: wrap;
    .content-picture{
      width: 25%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      img{
        max-width: 100px;
        border-radius: 100%;
      }
    }
    .content-info{
      width: 75%;
      p{
        text-align: left;
        color: $black;
      }
    }
  }
@media screen and (max-width: 768px){
  .content-cita{
    width: 100%;
  }
}
