<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>UI Toolkit | [#TODO]</title>
  <link rel="icon" type="image/png" href="https://dummyimage.com/64x64/000/fff" sizes="64x64">
  <link rel="icon" type="image/png" href="https://dummyimage.com/180x180/000/fff" sizes="180x180">
  <!-- [#TODO] Dont forget to update the FAVICON IMAGES in the next route -->
  <!-- <link rel="icon" type="image/png" href="assets/images/favicon-180x180.png" sizes="128x128"> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" integrity="sha256-K3Njjl2oe0gjRteXwX01fQD5fkk9JFFBdUHy/h38ggY=" crossorigin="anonymous" rel="stylesheet">
  <link href="./assets/styles/main.css" rel="stylesheet">
</head>

<body>
  <main class="j-workspace ">
    <div class="j-wrap">
        <div class="principal">
      <button id="mostrar-modal">Ir</button>
    </div>
    <div id="modal">
      <div class="contenido-modal">
        <p>sdhjasdgssssssssssssdhjadgashfvb ajsdfahgfuqgefygweyfgquefyuqw fqwgfuyfguqegfywyfwqgef</p>
      </div>
      <button id="cerrar-modal">x</button>
    </div>
    </div>
  </main> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="assets/scripts/ripple.js"></script>
  <script src="assets/scripts/header.js"></script>
  <script src="assets/scripts/cambio-container.js"></script>
  <script src="assets/scripts/jquery-3.2.0.min.js"></script>
  <script src="assets/scripts/logo-change.js"></script>
  <script src="assets/scripts/modal.js"></script>

</body>
</html>
