<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>UI Toolkit | [#TODO]</title>
  <link rel="icon" type="image/png" href="https://dummyimage.com/64x64/000/fff" sizes="64x64">
  <link rel="icon" type="image/png" href="https://dummyimage.com/180x180/000/fff" sizes="180x180">
  <!-- [#TODO] Dont forget to update the FAVICON IMAGES in the next route -->
  <!-- <link rel="icon" type="image/png" href="assets/images/favicon-180x180.png" sizes="128x128"> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" integrity="sha256-K3Njjl2oe0gjRteXwX01fQD5fkk9JFFBdUHy/h38ggY=" crossorigin="anonymous" rel="stylesheet">
  <link href="./assets/styles/main.css" rel="stylesheet">
</head>

<body>
  <!--  Header  -->

  <div class="header-container">
    <header class="main-nav">
      <a href="">
        
      </a>
      <nav role="navigation">
        <ul>
          <a href="">
            <li>
              <button class="btn-doctors ripple" type="button" name="button">Doctores</button>
            </li>
          </a>
          <a href="">
            <li>
              Para clinicas y hospitales
            </li>
          </a>
          <a href="">
            <li>
              <button class="btn-sign-up btn-outline bg-color-primary">
                Registro
              </button>
            </li>
          </a>
          <li>
            <a href="">Iniciar sesión</a>
          </li>
        </ul>
      </nav>
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </header>
  </div>
  <!--  Main content -->
  <main class="j-workspace ">
    <div class="j-wrap">
      <!-- Text Atoms -->
      <div class="grid">
        <div class="unit percent-70 container-form">
          <div class="step">
            <div class="margin-between step1">
              <a href="">
                <span id="step1"> 1. Shipping</span>
              </a>
            </div>
            <div class="margin-between step2">
              <a href="">
                <span  id="step2-sel"> 2. Billing</span>
              </a>
            </div>
            <div class="margin-between step2 ">
              <a href="">
                <span> 3. Review </span>
              </a>  
            </div>
          </div>
          <hr>
          <div id='ocultar'>
          <form>
                    <h2>Shipping address</h2>
                    <!-- Text input -->
                    <div class="container-name inline-elements">
                    <div class="inputsize gd padd-between">
                    <label for="text">First Name</label>
                    <input id="text" type="text">
                    </div>
                    <!-- Last name -->
                    <div class="inputsize gd">
                    <label>Last Name</label>
                    <input type="text">
                    </div>
                    </div>
                    <!-- Adress -->
                    <div class="container-address inline-elements">
                      <div class="inputsize gd padd-between">
                        <label>Address </label>
                        <input type="text">
                      </div>
                      <div class="inputsize gd">
                        <label>Address 2</label>
                        <input type="text">
                      </div>
                    </div>
                    <!-- CODE -->
                    <div class="container-city inline-elements">
                    <div class="inputsize sm padd-between-md">
                    <label>ZIP code </label>
                    <input type="text">
                    </div>
                    <div class="inputsize sm padd-between-md">
                    <label>City</label>
                    <input type="text">
                    </div>
                    <div class="inputsize sm">
                    <label>State</label>
                    <select>
                      <option>Option 01</option>
                      <option>Option 02</option>
                    </select>
                    </div>
                    </div>
                    <!-- File input -->
                    <label>Phone</label>
                    <div class="form-phone inline-elements">
                      <div class="inputsize gd">
                        <input type="text">
                      </div>
                      <div class="checkbox">
                    <label>
                        <input type="checkbox"> <b>Use this address for Billing</b>
                    </label>
                  </div>
                    </div>
            </form>
          </div>
          <div class="billig-container" id='oculto'>
            <form>
              <h2>Billing address</h2>
                <label>
                  <input type="checkbox"> <b>Use Shipping address for Billing</b>
                </label>
                <div class="mail">
                    <label for="text">Email</label>
                    <input id="text" type="text">
                    </div>
            </form>
          <div class="container-gift">
            <div class="container-title">
            <h2>Gift Cards</h2>
            <img class="img-gift " src="assets/images/logo-suma.png">
            <img class="img-gift img-oculta" src="assets/images/logo-resta.png">
            </div>
            <div class="gift-ocultar" id='gift'>
                    <div class="inputsize sm padd-between-md">
                    <label>Gift Certificate </label>
                    <input type="text">
                    </div>
                    <div class="inputsize sm padd-between-md">
                    <label>Pin number</label>
                    <input type="text">
                    </div>
                    <div class="btn-size-sm">
                    <label class="lbl-oculto">lbl-ocul</label>
                    <button>Apply</button>
                    </div>
            </div>
          </div>
          <div >
            <div class="container-title">
            <h2>MoMA Membership Discount</h2>
            <img class="image-membership" src="assets/images/logo-suma.png">
            <img class="image-membership img-oculta" src="assets/images/logo-resta.png">
          </div>
            <div class="gift" id='moma'>
              <div class="membership-ocultar">
                <div class="inputsize gd padd-between">
                  <label>First Name</label>
                  <input type="text">
                </div>
                <div class="inputsize gd padd-between ">
                  <label>Last Name</label>
                  <input type="text">
                </div>
              </div>
              <div class="membership-ocultar">
                <div class="inputsize gd padd-between">
                  <label>Membership Number</label>
                  <input type="text">
                </div>
                <div class="btn-size-sm">
                  <label class="lbl-oculto">sere invisible</label>
                  <div class="">
                    <button>Apply Discount</button>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <h2>Payment Method</h2>
              <div>
                    <div class="inline-elements">
                      <label class="padd-between">Credit Card</label>
                      <label>Secured with SSL</label>
                    </div>
                    <div class="inline-img">
                      <img class="padd-between" src="https://dummyimage.com/60x40/000/fff" alt="">
                      <img class="padd-between" src="https://dummyimage.com/60x40/000/fff" alt="">
                      <img class="padd-between" src="https://dummyimage.com/60x40/000/fff" alt="">
                    </div>
                <div class="inline-elements">
                  <div class="inputsize gd padd-between">
                    <label>Name on Card</label>
                    <input type="text">
                  </div>
                  <div class="inputsize gd">
                    <label>Card Number</label>
                    <input type="text">
                  </div>
                </div>
                <div class="inline-elements">
                  <div class="inputsize xs padd-between">
                    <label>Expiration Day</label>
                    <input type="text" placeholder="MM/YY">
                  </div>
                  <div class="inputsize xs">
                    <label>CW</label>
                    <input type="text">
                  </div>
                </div>
                <div class="inline-elements">
                  <label class="inputsize xs">OR</label>
                  <button>PayPal Check out</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="unit percent-30">
          <div class="content-summary">
              <H3>Order summary</H3>
              <table>
                <tr>
                  <th>Mercancia</th>
                  <th>
                    <span id="spTotal"></span>
                  </th> 
                </tr>
                <tr>
                  <th>Envio</th>
                  <th>-</th> 
                </tr>
                <tr>
                  <th>Tax</th>
                  <th>-</th> 
                </tr>
                <tr>
                  <th><h3>Total</h3></th>
                  <th><h3>
                    <span id="spTotal"></span>
                  </h3></th> 
                </tr>
              </table>
              <div class="content">
                <button value="Mostrar" onclick="mostrar()">Continue to billing</button>
              </div>
            </div> 
        </div>
      </div>
      <footer>
  <h3>Footer </h3>
  </footer>
    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="assets/scripts/ripple.js"></script>
  <script src="assets/scripts/header.js"></script>
  <script src="assets/scripts/cambio-container.js"></script>
  <script src="assets/scripts/jquery-3.2.0.min.js"></script>
  <script src="assets/scripts/logo-change.js"></script>

</body>
</html>
