// hacking "gridism.css" a little bit.
.checkout{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .shopping-cart {
    width: 70%;
    padding-right: $space-base;
    padding-left: $space-6;
  }
  .oculto{
    display: none;
  }
  .btn-back{
    background-color: #6c6c6d;
    color: $white;
  }
  .text-right{
    text-align: right;
  }
  .text-left{
    text-align: left;
  }
  .padding-right{
    padding-right: $space-2;
  }
  .padding-left{
    padding-left: $space-2;
  }
  .padding-top{
    padding-top: $space-2;
  }
  .padding-bottom{
    padding-bottom: $space-2;
  }
  .color-black{
    color: black;
  }
}
.td_pieces{
  .none{
    display: none;
  }
  .input-group{
    background-color: #6c6c6d;
    border-radius: 3px;
    display: inline-flex;
    height: $space-5;
    input{
      width: 75%;
    }
    span{
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
}
.featherlight-content{
  .box-login{
    .form-group{
      display: inline-flex;
      width: 100%;
      label{
        width: 25%;
        padding-left: $space-3;
      }
      input{
        width: 70%;
        border-radius: 0px;
      }
      select{
        width: 70%;
        border-radius: 0;
      }
      textarea{
        width: 70%;
        border-radius: 0;
      }
      .input-group{
        display: inline-flex;
        width: 100%;
        max-height: 40px;
        input{
          width: 85%;
        }
        .input-group-ad{
          padding: 12px 12px;
          font-size: 14px;
          font-weight: normal;
          line-height: 1;
          color: #fff;
          text-align: center;
          background-color: #6c6c6d;
          border-radius: 0;
        }
      }
    }
  }
}
 .td_quantity{
    button{
      background-color: firebrick;
      height: 40px;
      padding-top: 12px;
    }
  }
@media screen and (max-width: 991px){
  .checkout{
    .shopping-cart {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .td_pieces{
    .input-group{
      input{
        width: 75%;
      }
    }
  }
}
@media screen and (max-width: 768px){
  .td_name{
    white-space: unset !important;
  }
}
@media screen and (max-width: 600px){
  .td_name{
    text-align: right;
  }
  .td_price{
    margin-top: $space-2;
    padding-top: $space-3 !important;
  }
  .td_pieces{
    .none{
      display: block;
      width: 40%;
    }
    margin-left: 30%;
    margin-top: $space-2;
    .input-group{
      width: 60%;
      margin-top: $space-base;
      input{
        width: 70%;
      }
      span{
        width: $space-6;;
      }
    }
  }
  .td_quantity{
    width: 24%;
    margin-top: -56px;
    margin-left: 76%;
    button{
      width: 40px;
      i{
        display: flex;
        justify-content: center;
      }
    }
  }
  .td_total_price{
    width: 28%;
    padding-top: 16px !important;;
  }
  .td_subtotal{
    width: 50%;
  }
  .none{
    display: none;
  }
}
@media screen and (max-width: 440px){
  .td_pieces{
    .none{
      width: 10%;
    }
    .input-group{
      width: 90%;
      input{
        width: 70%;
      }
    }
  }
}