// hacking "gridism.css" a little bit.
.checkout{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .shopping-cart {
    width: 70%;
    padding-right: $space-base;
    padding-left: $space-6;
    .content_back{
      width: 100%;
      display: inline-flex;
      .third{
        width: 53%;
        padding: $space-2;  
      }
      .middle{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        .content{
          display: flex;
          justify-content: center;
          p{
            width: 100%;
            max-width: 250px;
            color: black;
            text-align: center;
            padding: $space-base;
          }
          a{
            width: 100%;
            max-width: 250px;
            p{
              background-color: #228b22;
              color: white;
              font-size: $space-2;
            }
          }
        }
      }
    }
  }
  .order-summary{
    width: 30%;
   /* padding-right: $space-2;*/
    padding-right: $space-6;
    button{
      max-width: 100%;
    }
  }
  .oculto{
    display: none;
  }
  .btn-back{
    background-color: #6c6c6d;
    color: $white;
  }
  .custome-details{
    width: 100%;
    margin-left: 0;
    padding-left: $space-8;
    padding-right: $space-8;
    margin-top: $space-3;
    .margin-left{
      margin-left: -$space-2;
    }
    .title{
      width: 105%;
      background-color: #6c6c6d !important;
      color: $white;
      padding-left: $space-3;
    }
  .buton-content{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    button{
      background-color: #228000;
    }
  }
  .form-group{
      display: inline-flex;
      width: 100%;
      margin-top: $space-2;
      label{
        width: 25%;
        padding-left: $space-2;
      }
      input{
        width: 70%;
        border-radius: 0px;
      }
      select{
        width: 70%;
        border-radius: 0;
      }
      textarea{
        width: 70%;
        border-radius: 0;
      }
      .input-group{
        display: inline-flex;
        width: 100%;
        max-height: 40px;
        margin-left: 6%;
        input{
          width: 85%;
        }
        .input-group-ad{
          padding: 12px 12px;
          font-size: 14px;
          font-weight: normal;
          line-height: 1;
          color: #fff;
          text-align: center;
          background-color: #6c6c6d;
          border-radius: 0;
        }
      }  
    }
  } 
  .text-right{
    text-align: right;
  }   
  .text-left{
    text-align: left;
  }
  .padding-right{
    padding-right: $space-2;
  }
  .padding-left{
    padding-left: $space-2;
  }
  .padding-top{
    padding-top: $space-2;
  }
  .padding-bottom{
    padding-bottom: $space-2;
  }
  .color-black{
    color: black;
  }
  .backgroung-black{
    padding-top: $space-base;
    padding-bottom: $space-base;
    width: 100%;
    background-color: black;
    strong{
      color:white;
    }
  }
  .buton{
    .botons{
      width: 100%;
      a{
        p{
          background-color: #6d6d6c;
          text-align: center;
          padding-top: $space-base;
          padding-bottom: $space-base;
        }
      }
      .green{
        background-color: #228000;
        margin-bottom: 4px;
      }
      .grey{
        background-color: #6d6d6c;
      }
      p{
        background-color: #228000;
        text-align: center;
        padding-top: $space-base;
        padding-bottom: $space-base;
      }
    }
  }
  .td-border{
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }
} 
footer{
  a:visited{
  color: white !important;
}
a:link{
  color: white !important;
}
}
.gris-footers{
  background-color: #d8d8d8;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: $space-2;
  padding-left: $space-4;
  padding-right: $space-4;
  .content-footer{
    width: 33.33%;
    .copyrights{
      width: 100%;
      text-align: center;
      color: #000000;
    }
    .red-footer{
      width: 100%;
      list-style: none;
      padding-left: $space-base;
      li{
        position: relative;
        display: block;
        float: left;
        padding-right: $space-2;
        }
      li:last-child{
        padding-right: 0;
      }
      img{
        width: 30px;
      }
    }
  }
}
.td_pieces{
  .none{
    display: none;
  }
  .input-group{
    background-color: #6c6c6d;
    border-radius: 3px;
    display: inline-flex;
    height: $space-5;
    input{
      width: 75%;
    }
    span{
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

    }
  }
}
.featherlight-content{
  .box-login{
    .form-group{
      display: inline-flex;
      width: 100%;
      label{
        width: 25%;
        padding-left: $space-3;
      }
      input{
        width: 70%;
        border-radius: 0px;
      }
      select{
        width: 70%;
        border-radius: 0;
      }
      textarea{
        width: 70%;
        border-radius: 0;
      }
      .input-group{
        display: inline-flex;
        width: 100%;
        max-height: 40px;
        input{
          width: 85%;
        }
        .input-group-ad{
          padding: 12px 12px;
          font-size: 14px;
          font-weight: normal;
          line-height: 1;
          color: #fff;
          text-align: center;
          background-color: #6c6c6d;
          border-radius: 0;
        }
      }  
    }
  }
}
 .td_quantity{
    button{
      background-color: firebrick;
      height: 40px;
      padding-top: 12px;
    }
  }
@media screen and (max-width: 1150px){
  .checkout{
    .custome-details{
      .form-group{
        .input-group{
          display: inline-flex;
          width: 100%;
          max-height: 40px;
          margin-left: 6%;
          input{
            width: 84%;
          }
        }  
      }
    } 
  }
}
@media screen and (max-width: 1050px){
  .checkout{
    .custome-details{
      .form-group{
        .input-group{
          display: inline-flex;
          width: 100%;
          max-height: 40px;
          margin-left: 6%;
          input{
            width: 83%;
          }
        }  
      }
    } 
  }
}
@media screen and (max-width: 991px){
  .checkout{
    .shopping-cart {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      .content_back{
        width: 100%;
        display: inline-flex;
        .third{
          width: 0;
          padding: 0;
        }
        .middle{
          width: 100%;
        }
      }
    }
    .order-summary{
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      button{
        max-width: 100%;
      }
    }
    .custome-details{
      width: 100%;
      padding-right: 0;
      padding-left: $space-2;
      .title{
        width: 104%
      }
      .form-group{
      display: block;
      width: 100%;
      label{
        width: 100%;
        padding-left: 0;
      }
      input{
        width: 100%;
      }
      select{
        width: 100%;
      }
      textarea{
        width: 100%;
        border-radius: 0;
      }
      .input-group{
        padding-left: 0;
        width: 100%;
        margin-left: 0;
        input{
          width: 96%;
        }
        span{
          max-width: 40px;
        }
      }
    }
  }
} 
  .td_pieces{
    .input-group{
      input{
        width: 75%;
      }
    }
  }
}
@media screen and (max-width: 768px){
  .checkout{
    .custome-details{
      .title{
        width: 105%
      }
    }
  } 
  .td_name{
    white-space: unset !important;
  }
}

@media screen and (max-width: 600px){
  .gris-footers{
    background-color: #d8d8d8;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    .content-footer{
      width: 40%;
      .red-footer{
        padding-top: $space-3;
      }
      .copyrights{
        width: 100%;
        text-align: right;
      }
    }
    .content-footer:nth-child(2){
      width: 60%;
      margin-bottom: $space-base;
      padding-right: $space-base;
    }
    .content-footer:last-child{
      width: 100%;
      margin-bottom: $space-base;
      padding-right: $space-base;
    }
  }
  .td_name{
    text-align: right;
  }
  .td_price{
    margin-top: $space-2;
    padding-top: $space-3 !important;
  }
  .td_pieces{
    .none{
      display: block;
      width: 40%;
    }
    margin-left: 30%;
    margin-top: $space-2;
    .input-group{
      width: 60%;
      margin-top: $space-base;
      input{
        width: 70%;
      }
      span{
        width: $space-6;;
      }
    }
  }
  .td_quantity{
    width: 24%;
    margin-top: -56px;
    margin-left: 76%;
    button{
      width: 40px;
      i{
        display: flex;
        justify-content: center;
      }
    }
  }
  .td_total_price{
    width: 28%;
    padding-top: 16px !important;;
  }
  .td_subtotal{
    width: 50%;
  }
  .none{
    display: none;
  }
}
@media screen and (max-width: 440px){
  .td_pieces{
    .none{
      width: 10%;
    }
    .input-group{
      width: 90%;
      input{
        width: 70%;
      }
    }
  }
}